
.msg { padding: 10px; background: #222; position: relative; }
.msg h1 { color: #fff;  }
.msg a { margin-left: 20px; background: #408814; color: white; padding: 4px 8px; text-decoration: none; }
.msg a:hover { background: #266400; }

/* //-- yui-grids style overrides -- */
body { font-family: Georgia; color: #444; }
#inner { padding: 10px 80px; margin: 80px auto; background: #f5f5f5; border: solid #666; border-width: 8px 0 2px 0; }
.yui-gf { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc; }

/* //-- header, body, footer -- */
#hd { margin: 0.5em 0 3em 0; padding-bottom: 1.5em; border-bottom: 1px solid #ccc }
#hd h2 { letter-spacing: 2px; text-transform: uppercase; }
#bd, #ft { margin-bottom: 2em; }

/* //-- footer -- */
#ft { padding: 0 0 5em 0; font-size: 92%; border-top: 0; text-align: center; }
#ft p { margin-bottom: 0; text-align: center;   }

/* //-- core typography and style -- */
#hd h1 { font-size: 36px; letter-spacing: 3px; } /*text-transform: uppercase; */
/* position */   h2 { font-size: 152%; margin: 0; }
/* company */    h3 { font-size: 122%;  }
/* years */      h4 { font-size: 132%;  }
/* additional */ h5 { font-size: 105%;  }
h1, h2, h3, h4, h5 { color: #333; }
p { font-size: 100%; line-height: 18px; padding-right: 3em; }
a { color: #d60000 }
a:hover { text-decoration: none; }
strong { font-weight: bold; }
li { line-height: 24px; border-bottom: 1px solid #ccc; }
p.enlarge { font-size: 144%; padding-right: 3.0em; line-height: 24px; text-align: justify; }
p.enlarge span { color: #000 }
.contact-info h3 { margin-top: 7px; }
.first h2 { font-style: italic; }
.last { border-bottom: 0 }
.photo { float: right; margin: 0; padding: 0; }


/* //-- section styles -- */

td, th { text-align: left; padding: 3px 0px 3px 0px; }

a#pdf { display: block; float: left; background: #666; color: white; padding: 6px 38px 6px 38px; margin-top: 6px; margin-bottom: 6px; margin-right: 12px; text-decoration: none; text-align: right; }
a#pdf:hover { background: #222; }

#spc {display: block; color: #f5f5f5; }

.gapbig    { position: relative; margin-bottom: 0.5em; padding-bottom: 0.5em; border: none; }
.gap    { position: relative; margin-bottom: 0.2em; padding-bottom: 0.2em; border: none; }

.uni    { position: relative; margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc; }
/* position */   .uni h2 { position: relative; margin-left: 19%; border: none; }
/* company */    .uni h3 { position: relative; margin-left: 19%; margin-top: 0.5em; margin-bottom: 1em; border: none; }
/* years */      .uni h4 { position: absolute; top: 0.5em; left: 3%; width: 13%; text-align: center; border: none; }
/* additional */ .uni h5 { position: relative; margin-left: 19%; border: none; }
.uni p  { margin: 0.5em 0 0.5em 0; }

.unil    { position: relative; margin-bottom: 0; padding-bottom: 0; border: none; }
/* position */   .unil h2 { position: relative; margin-left: 19%; border: none; }
/* company */    .unil h3 { position: relative; margin-left: 19%; margin-top: 0.5em; margin-bottom: 1em; border: none; }
/* years */      .unil h4 { position: absolute; top: 0.5em; left: 3%; width: 13%; text-align: center; border: none; }
/* additional */ .unil h5 { position: relative; margin-left: 19%; border: none; }
.unil p  { margin: 0.5em 0 0.5em 0; }

.uni-noR    { position: relative; margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc; }
.uni-noR h3 { position: relative; margin-top: 0.5em; margin-bottom: 0.5em; margin-right: 0.5em; }
.uni-noR p  { margin: 0.5em 0 0.5em 0; }
.unil-noR    { position: relative; margin-bottom: 0; padding-bottom: 0; border: none; }
.unil-noR h3 { position: relative; margin-top: 0.5em; margin-bottom: 0.5em; margin-right: 0.5em; }
.unil-noR p  { margin: 0.5em 0 0.5em 0; }

.uniList    { position: relative; margin-bottom: 0; padding-bottom: 0; border-bottom: none; }
.uniList p  { margin: 0.7em 0 0.7em 0; }
.uniBook    { position: relative; margin-bottom: 0; padding-bottom: 0; border-bottom: none; }
.uniBook p  { margin: 0.5em 0 0.5em 2%; }

.unih    { display: none; position: relative; margin-bottom: 1em; padding-bottom: 0em; border-bottom: none; }
#trig_exp1:checked + .unih  { display: block; }
#trig_exp1 { display: none; }
#trig_proj:checked + .unih  { display: block; }
#trig_proj { display: none; }
#trig_cert:checked + .unih  { display: block; }
#trig_cert { display: none; }
#trig_art:checked + .unih  { display: block; }
#trig_art { display: none; }
#trig_conf:checked + .unih  { display: block; }
#trig_conf { display: none; }
#trig_book:checked + .unih  { display: block; }
#trig_book { display: none; }

.skills { width: 32%; float: left; margin-top: -1em; }
.skills li { margin-top: 1em; font-size: 122%; }
.talent { width: 32%; float: left; }
.talent h2 { margin-bottom: 6px; }

span.auth { font-weight: bold; } /* text-decoration: underline; */
span.jour { font-style: italic; }
span.abs  { font-style: italic; font-size: 90%; }
span.book { font-style: italic; }

#srt-ttab { margin-bottom: 100px; text-align: center;  }
#srt-ttab img.last { margin-top: 20px }

/* --// override to force 1/8th width grids -- */
.yui-gf .yui-u{width:80.2%;}
.yui-gf div.first{width:12.3%;}
